*{

    box-sizing: border-box;
    
}
.dados{
    background-color: black;
    color: white;
    text-align: center;
    
 
}
.imagens{
    height: 600px;
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: rgb(197, 28, 28);
}

.homen{
    position: relative;
    left: 100px;
}
.mulher{
    position: relative;
    right: 100px;
    top: -1%;
}
.conteudo{
    background-color: black;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
body{
    background-color: rgb(197, 28, 28);
}








